<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets>
        <!-- Logi ogólne -->
        <target xsi:type="File"
                name="logfile"
                fileName="/Users/maksymilian/Desktop/SimpleWebApi/OrderManagmentApi/OrderManagmentApi/Files/test.txt"
                layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}" />

        <!-- Logi wyjątków -->
        <target xsi:type="File"
                name="exceptions"
                fileName="/Users/maksymilian/Desktop/SimpleWebApi/OrderManagmentApi/OrderManagmentApi/Files/test.txt"
                layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}" />


        <target xsi:type="File"
                name="request-time"
                fileName="/Users/maksymilian/Desktop/SimpleWebApi/OrderManagmentApi/OrderManagmentApi/Files/requestTime.txt"
                layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}" />

    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile" />

        <logger name="*" minlevel="Error" writeTo="exceptions" />
        
        <logger name="SimpleWebApi.OrderManagmentApi.OrderManagmentApi.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time"/>ss
    </rules>
</nlog>
